<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #1e293b;
            padding: 12px 0;
        }

        .nav-container {
            width: 90%;
            margin: auto;
            display: flex;

            align-items: center;
        }

        .logo a {
            color: #38bdf8;
            font-size: 22px;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 24px;
            padding-left: 30px;
        }

        .nav-links li a {
            color: #e5e7eb;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s;
        }

        .nav-links li a:hover {
            color: #38bdf8;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: coral;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="/">PTTP</a>
            </div>

            <ul class="nav-links">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/getAllCars">Cars</a></li>
                <li><a href="/GetAllBookings">Booking</a></li>
                <li><a href="/contact">Liên hệ</a></li>
            </ul>
        </div>
    </nav>
    <table>
        <tr>
            
            <th>Brand</th>
            <th>Model</th>
            <th>Price Per Day</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <% for(let idx=0; idx < listcars.length; idx++) { %>
            <tr>
                <td>
                    <%= listcars[idx].brand %>
                </td>
                <td>
                    <%= listcars[idx].model %>
                </td>
                <td>
                    <%= listcars[idx].pricePerDay %>
                </td>
                <td>
                    <%= listcars[idx].status %>
                </td>
                <td>
                    <a href="bookings/createbooking/<%= listcars[idx].id %>"> edit</a>
                    <button>delete</button>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>